<meta charset="utf-8">
<div ng-controller="ObrazovanjeController as ctrl">
	<h3>{{ctrl.title}}</h3>
	<hr>
	<form name="frm" novalidate class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="id">Id</label>
			<div class="col-sm-6 col-md-4">
				<input type="number" required ng-model="ctrl.obrazovanje.id" class="form-control" id="id">			
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="naziv">Naziv</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-model="ctrl.obrazovanje.naziv" class="form-control" id="naziv">
			</div>			
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="stepenStrucneSpreme">Stepen stručne spreme</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-model="ctrl.obrazovanje.stepenStrucneSpreme" class="form-control" id="stepenStrucneSpreme">
			</div>			
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="opis">Opis</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-model="ctrl.obrazovanje.opis" class="form-control" id="opis">
			</div>			
		</div>
		<div class="col-sm-offset-2">
			<button type="button" class="btn btn-success" ng-click="ctrl.save()" ng-disabled="frm.$invalid">Potvrdi</button>
			<button type="button" class="btn btn-danger" ng-click="ctrl.openConfirm('delete')" ng-hide="ctrl.isAdd()">Obriši</button>
			<a class="btn btn-default" href="#/obrazovanje">
				<i class="fa fa-chevron-left"></i>
				Nazad
			</a>
		</div>
	</form>
</div>
