<div>
	<h2><u>Kontakt</u></h2>
	<br/>
	<form class="form-horizontal" action='' method='' id=''>
  <fieldset>
    <div class="form-group">
      <label for="ime" class="col-lg-1 control-label">Ime</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="ime" placeholder="Ime">
      </div>
    </div>
    <div class="form-group">
      <label for="prezime" class="col-lg-1 control-label">Prezime</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="prezime" placeholder="Prezime">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-1 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-1 control-label">Tema</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>Obrazovanje</option>
          <option>Preduzece</option>
          <option>Sektor</option>
          <option>Radnik</option>
          <option>Ostalo</option>
        </select>
        <br>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-1 control-label">Poruka</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-1">
      	<button class="btn btn-primary">Pošalji</button>
        <button class="btn btn-default">Otkaži</button>
        
      </div>
    </div>
  </fieldset>
</form>
</div>
