<meta charset="utf-8">
<nav class="navbar navbar-default">
	<div class="navbar-header col-sm-2"></div>
	
	<p class="col-sm-offset-2 col-sm-4 text-muted">
		<h2  class="text-muted" align="center">Razvoj višeslojnih aplikacija</h2><br><br><br>
	</p>
	
</nav>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IT62/2015</a>
  	</div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/home">Početna</a></li>
        <li><a href="#/about">O nama</a></li>
        <li><a href="#/autor">Autor</a></li>
        <li><a href="#/location">Lokacija</a></li>
        <li><a href="#/contact">Kontakt</a></li>

        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kompanija <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/obrazovanje">Obrazovanje</a></li>
            <li class="divider"></li>
            <li><a href="#/preduzece">Preduzeća</a></li>
            <li class="divider"></li>
            <li><a href="#/sektor">Sektori</a></li>
            <li class="divider"></li>
            <li><a href="#/radnik">Radnici</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>