<div ng-controller="RadnikPoSektoruController as ctrl">
	<form name="frm" novalidate class="form-horizontal">

		<h3>Sektor</h3>

		<div class="form-group">
			<label class="control-label col-sm-2" for="id">Id</label>
			<div class="col-sm-6 col-md-4">
			<input type="number" required ng-readonly="true" ng-model="ctrl.sektorBean.id" ng-disabled="ctrl.isEdit()" id="id" class="form-control">
			</div>
		</div>
			
		<div class="form-group">
			<label class="control-label col-sm-2" for="naziv">Naziv</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-readonly="true" ng-model="ctrl.sektorBean.naziv"
					id="naziv" class="form-control">
			</div>
		</div>
			
		<div class="form-group">
			<label class="control-label col-sm-2" for="oznaka">Oznaka</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-readonly="true" ng-model="ctrl.sektorBean.oznaka"
					id="oznaka" class="form-control">
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-md-2" for="preduzece">Preduzeće Id</label>
			<div class="col-md-3">
				<input type="number" required ng-readonly="true"
					ng-model="ctrl.sektorBean.preduzeceBean.id" id="preduzeceBean.id"
					class="form-control">
			</div>
			<label class="control-label col-md-2" for="preduzeceBean.naziv">Preduzeće</label>
			<div class="col-md-3">
				<select ng-model="ctrl.sektorBean.preduzeceBean.id"
					ng-options="stavka.id as stavka.naziv for stavka in ctrl.sektorBean.preduzeceBean | orderBy:'naziv'"
					class="form-control"></select>
			</div>
		</div>
		
		<br />
		<hr>
		<h3>Radnici u sektoru</h3>

		<table class="table table-hover table-bordered">
			<thead>
				<tr class="active">
			<td><input class="form-control" id="id" name="id" placeholder="Id" ng-model="ctrl.search.id"></td>
			<td><input class="form-control" id="ime" name="ime" placeholder="Ime" ng-model="ctrl.search.ime"></td>
			<td><input class="form-control" id="prezime" name="prezime" placeholder="Prezime" ng-model="ctrl.search.prezime"></td>	
			<td><input class="form-control" id="brojLk" name="brojLk" placeholder="Broj lične karte" ng-model="ctrl.search.brojLk"></td>			
			<td><input class="form-control" id="obrazovanjeBean" name="obrazovanjeBean" placeholder="Obrazovanje" ng-model="ctrl.search.obrazovanjeBean.naziv"></td>
			<td><input class="form-control" id="sektorBean" name="sektorBean" placeholder="Sektor" ng-model="ctrl.search.sektorBean.naziv"></td>							
		</tr>
				<tr class="active">
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('id')">
                    Id
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'id'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'id' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'id' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('ime')">
                    Ime
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'ime'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'ime' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'ime' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('prezime')">
                    Prezime
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'prezime'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'prezime' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'prezime' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('brojLk')">
                    Broj lične karte
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'brojLk'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'brojLk' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'brojLk' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>	
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('obrazovanjeBean.naziv')">
                    Obrazovanje
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'obrazovanjeBean.naziv'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'obrazovanjeBean.naziv' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'obrazovanjeBean.naziv' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('sektorBean.naziv')">
                    Sektor
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'sektorBean.naziv'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'sektorBean.naziv' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'sektorBean.naziv' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
		</tr>
			</thead>
			<tbody>
			<tr ng-click="ctrl.edit(stavka.id)" class="link" ng-repeat="stavka in ctrl.radnik | filter : ctrl.search | orderBy : ctrl.sortDirection + ctrl.sort | limitTo : ctrl.pagination.pageSize : (ctrl.pagination.currentPage-1) * ctrl.pagination.pageSize">
				<td>{{stavka.id}}</td>
				<td>{{stavka.ime}}</td>	
				<td>{{stavka.prezime}}</td>
				<td>{{stavka.brojLk}}</td>			
				<td>{{stavka.obrazovanjeBean.naziv}}</td>
				<td>{{stavka.sektorBean.naziv}}</td>
			</tr>
			</tbody>
		</table>
		<hr>
		<div class="col-sm-offset-2">
			<button type="button" class="btn btn-default" ng-click="ctrl.back()">Nazad</button>
		</div>
	</form>
</div>
