<meta charset="utf-8">
<div ng-controller="SektorController as ctrl">
	<h3>{{ctrl.title}}</h3>
	<hr>
	<form name="frm" novalidate class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="id">Id</label>
			<div class="col-sm-6 col-md-4">
				<input type="number" required ng-model="ctrl.sektor.id" id="id"
					class="form-control">
			</div>
			<div>
				<button type="button" class="btn btn-success col-md-2"
					ng-hide="ctrl.isAdd()" ng-click="ctrl.prikaziRadnike()">
					Prikaži radnike</button>
			</div>
			</div>
			
		<div class="form-group">
			<label class="control-label col-sm-2" for="naziv">Naziv</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-model="ctrl.sektor.naziv"
					id="naziv" class="form-control">
			</div>
		</div>
			
		<div class="form-group">
			<label class="control-label col-sm-2" for="oznaka">Oznaka</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-model="ctrl.sektor.oznaka"
					id="oznaka" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="preduzece">Preduzece
				id</label>
			<div class="col-md-3">
				<input type="number" required ng-readonly="true"
					ng-model="ctrl.sektor.preduzeceBean.id" id="preduzeceBean.id"
					class="form-control">
			</div>
			<label class="control-label col-md-2" for="preduzeceBean.naziv">Preduzeće</label>
			<div class="col-md-3">
				<select ng-model="ctrl.sektor.preduzeceBean.id"
					ng-options="stavka.id as stavka.naziv for stavka in ctrl.preduzeceBean | orderBy:'naziv'"
					class="form-control"></select>
			</div>
		</div>
		<div class="col-sm-offset-2">
			<button type="button" class="btn btn-success" ng-click="ctrl.save()"
				ng-disabled="frm.$invalid">Potvrdi</button>
			<button type="button" class="btn btn-danger"
				ng-click="ctrl.openConfirm('delete')" ng-hide="ctrl.isAdd()">Obriši</button>
			<a class="btn btn-default" href="#/sektor"><i
				class="fa fa-chevron-left"></i>Nazad</a>
		</div>
	</form>
</div>