<meta charset="utf-8">
<div ng-controller="PreduzeceListController as ctrl">
    <h3>Lista preduzeća</h3>
	<table class="table table-hover table-bordered">
		<thead>
		<tr class="active">
			<td><input class="form-control" id="id" name="id" placeholder="Id" ng-model="ctrl.search.id"></td>
			<td><input class="form-control" id="naziv" name="naziv" placeholder="Naziv" ng-model="ctrl.search.naziv"></td>
			<td><input class="form-control" id="pib" name="pib" placeholder="PIB" ng-model="ctrl.search.pib"></td>
			<td><input class="form-control" id="sediste" name="sediste" placeholder="Sedište" ng-model="ctrl.search.sediste"></td>
			<td><input class="form-control" id="opis" name="opis" placeholder="Opis" ng-model="ctrl.search.opis"></td>
		</tr>
		<tr class="active">
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('id')">
                    Id
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'id'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'id' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'id' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('naziv')">
                    Naziv
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'naziv'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'naziv' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'naziv' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('pib')">
                    PIB
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'pib'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'pib' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'pib' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('sediste')">
                    Sedište
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'sediste'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'sediste' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'sediste' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>
			<th>
				<a class="link" ng-href ng-click="ctrl.tableChanged('opis')">
                    Opis
                    <i class="fa fa-sort disabled" ng-hide="ctrl.sort == 'opis'"></i>
                    <i class="fa fa-sort-desc" ng-show="ctrl.sort == 'opis' && ctrl.sortDirection == '-'"></i>     
                    <i class="fa fa-sort-asc" ng-show="ctrl.sort == 'opis' && ctrl.sortDirection == '+'"></i>
                </a>
			</th>			
		</tr>
		</thead>
		<tbody>
		<tr ng-click="ctrl.edit(stavka.id)" class="link" ng-repeat="stavka in ctrl.preduzeca | filter : ctrl.search | orderBy : ctrl.sortDirection + ctrl.sort
		|limitTo: ctrl.pagination.pageSize: (ctrl.pagination.currentPage-1)*ctrl.pagination.pageSize">
			<td>{{stavka.id}}</td>
			<td>{{stavka.naziv}}</td>
			<td>{{stavka.pib}}</td>
			<td>{{stavka.sediste}}</td>	
			<td>{{stavka.opis}}</td>		
		</tr>
		</tbody>
	</table>
	<ul class="pagination">
		<li ng-class="{'disabled' : ctrl.pagination.currentPage == 1}">
			<a class="link" ng-href aria-label="Prethodna" ng-click="ctrl.pagination.changePage(ctrl.pagination.currentPage - 1)">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li ng-repeat="page in ctrl.pagination.pages track by $index" ng-class="{'active':($index + 1) == ctrl.pagination.currentPage}">
			<a class="link" ng-href ng-click="ctrl.pagination.changePage($index+1)">{{$index+1}}</a>
		</li>
		<li ng-class="{'disabled' : ctrl.pagination.currentPage == ctrl.pagination.pages.length}">
			<a class="link" ng-href aria-label="Sledeća" ng-click="ctrl.pagination.changePage(ctrl.pagination.currentPage + 1)">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
	<hr>
	<div>
        <a class="btn btn-success btn-md" href="#/preduzece/add"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>